@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .btn-primary {
    @apply px-2 py-1 rounded-md transition-all text-gray-200 outline outline-2 outline-zinc-600 hover:outline-zinc-800 bg-[#4545459b] outline-offset-4 my-4;
  }
  .label {
    @apply w-[14rem] text-[1rem] text-gray-200  my-2;
  }
  .text-primary {
    @apply bg-clip-text text-transparent text-[3rem] font-extralight bg-gradient-to-r from-cyan-100 to-zinc-400 my-2;
  }

  .text-sec {
    @apply bg-clip-text text-transparent text-[1rem] font-extralight bg-gradient-to-r from-cyan-100 to-zinc-400 mb-2;
  }

  .input {
    @apply rounded-lg px-[0.5rem] py-[0.25rem] text-base mb-[1rem];
  }
}
